<div class="row" *ngIf="cardList.length > 0">
  <div class="col-lg-6" *ngFor="let card of cardList">
    <div class="card" style="width: 22rem;">
      <img [src]="card.image" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="bottom">
          <div class="image">
            <img [src]="card.image" alt="" class="me-2">
            <h3>{{card.name}}</h3>
          </div>
          <div class="likes">
            <i class="fa-solid fa-heart me-3" (click)="onLike(card.id)" [ngStyle]="{'color': card.isLiked ? '#ff5775' : '#a4b6e1'}"> {{card.likes}}</i>
            <i class="fa-solid fa-comment-dots"> {{card.comments}}</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>