<main class="d-flex">
    <div class="d-block">
        <app-sidebar></app-sidebar>
    </div>

    <section class="main-content d-flex flex-row flex-grow-1" [ngStyle]="currentLang == 'en' ? {'margin-left': '248px'} : {'margin-right': '248px'}">
        <section class="main-page d-flex flex-column flex-grow-1 position-relative col-8">
            <app-navbar></app-navbar>
            <router-outlet></router-outlet>
        </section>
        <section class="d-flex flex-column flex-grow-1 position-relative col-4">
            <app-notifications-search></app-notifications-search>
            <app-suggestions></app-suggestions>
        </section>
    </section>
</main>
