.card {
    padding: 20px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.05);
    // background-color: #fff;
    transition: all 0.5s ease-in-out;

    img {
      height: 100px !important;
    }

    .card-header {
      padding: 20px 20px 10px 20px;
      border: 0;
      background: none;
      display: flex;
      align-items: center;
      background-color: transparent;
      border-bottom: 0;
    }
  
    .card-body {
      padding: 20px;
    
      small {
        font-size: 80%;
        font-weight: 400;
      } 
    }
  
    .card-footer {
      padding: 20px;
      background: none;
      border-top: 1px solid rgba(0, 40, 100, 0.12);
      color: #6e7687;
    }  
}